<button class="filter" data-filter="all"> All </button>
<button class="filter" data-filter=".category-1">Students</button>
<button class="filter" data-filter=".category-2">Instructors</button>

<button class="sort" data-sort="my-order:asc">Alphabetically</button>
<button class="sort" data-sort="my-order:desc">Reverse</button>
<hr>
<div id="Container">
    <div class="mix category-1" data-my-order="2">Bharvi</div>
    <div class="mix category-1" data-my-order="1">Astrid </div>
    <div class="mix category-1" data-my-order="4">Effrain</div>
    <div class="mix category-1" data-my-order="6">Kevin</div>
    <div class="mix category-1" data-my-order="8">Thanh</div>

    <div class="mix category-2" data-my-order="5"> Jesse</div>
    <div class="mix category-2" data-my-order="3"> Brian </div>
    <div class="mix category-2" data-my-order="7"> Matt </div>

</div>
<hr>
