
<div class="banner" style="align: center">
    <ul>
        <li><img src ="http://www.freeallimages.com/wp-content/uploads/2014/09/cool-images-of-animals-5.jpg"</li>
        <li><img src = "http://t1.gstatic.com/images?q=tbn:ANd9GcSNju7bY3RqDIF6YHlwoNGXkbhNP3G5GPguCF5Rys8yQQBOpIu3KA"></li>
        <li><img src = "http://www.freeallimages.com/wp-content/uploads/2014/09/cool-images-of-animals-1.jpg"></li>
    </ul>
</div>
